body {
    background-color: black;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    /* padding-bottom: 100px; */
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
}

footer {
    grid-column: span 3;
}

header {
    grid-column: span 3;
    margin-bottom: 0px;
}


#unused-letters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 30px;
}

#unused-letters > h3 {
    grid-column: span 5;
}

#unused-letters > div {
align-self: center;

height: 50px;
width: 55px;
margin: 0px 3px;
line-height: 50px;  

  /* height: 40px;
  margin: 0px 3px;
  line-height: 40px; */
  /* width: 20px; */
  /* border: 1px inset white; */
  background-color: black;
  color: white;
  /* display: flex; */


  transition-property: background-color, transform, opacity;
  transition-duration: 0.5s, 1.5s, 1.5s;
  transition-timing-function: ease-in;

  animation-duration: 8s;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  box-shadow: 16px 16px 10px white;

}

#unusedZ {
    grid-column-start: 3;
    grid-column-end: 4 ;
}



#used-letters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 30px;
    /* border: 1px solid white; */
}

#used-letters > h3 {
    grid-column: span 5;
}

#used-letters > div {
align-self: center;
height: 50px;
    width: 55px;
    margin: 0px 3px;
    line-height: 50px;  

/* height: 40px;
  margin: 0px 3px;
  line-height: 40px; */
  /* width: 20px; */
  /* border: 2px outset white; */
  /* background-color: black; */
  color: white;

  transition-property: background-color, transform, opacity;
  transition-duration: 0.5s, 1.5s, 1.5s;
  transition-timing-function: ease-in;

  /* animation-duration: 8s;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  box-shadow: 16px 16px 10px white; */


  /* display: flex; */
}

#usedZ {
    grid-column-start: 3;
    grid-column-end: 4 ;
}


#submit-div {
    grid-column: span 3;
}

#submit-button {

    background-color: black;
    color: white;
    height: 55px;
    margin-top: 40px;
    border-style: none;
    width: 80%;
    font-weight: 600;
    font-size: 14pt;
    animation-duration: 8s;
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    box-shadow: 16px 16px 10px white;

}

#instructions-button {
    background-color: black;
    color: white;
    /* border: 2px solid white; */
    width: 150px;
    height: 35px;
}

#instructions-div {
    display: flex;
    align-items: center;
    gap: 45px;
    justify-content: center;
    height: 90px;

}


.letters {
    display:flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-items: space-around; */
    justify-content: center;
}

/* div {
    transition-property: all;
    transition-duration: 5s;
    transition-timing-function: ease-in-out;
    background-color: black; 
}*/

.oneletter {
    /* border: 2px inset outset white; */
    background-color: black;
    width: 38px;
    height: 38px;
    margin: 10px 20px;
    padding: 10px 10px;
    text-align: center;
    font-size: 20pt;
    line-height: 40px;
    transition-property: background-color, transform;
    transition-duration: 0.5s, 1.5s;
    transition-timing-function: ease-in;

    animation-duration: 8s;
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    box-shadow: 16px 16px 10px white;
}

@keyframes pulse {
    from {
        box-shadow: 80px 80px 80px white;
    }

  
    to {
        box-shadow: 7px 7px 10px white;
    }
  }

.green {
    background-color: green;
    border: 2px double white;
    animation-duration: 8s;
    animation-name: pulse-green;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    box-shadow: 16px 16px 10px green;

    /* transform: rotate(360deg); */
}

@keyframes pulse-green {
    from {
        box-shadow: 80px 80px 80px green;
    }

  
    to {
        box-shadow: 7px 7px 10px green;
    }
  }

.yellow {
    background-color: rgb(201, 201, 32);
    border: 1px solid white;

    animation-duration: 8s;
    animation-name: pulse-yellow;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    box-shadow: 16px 16px 10px yellow;

    /* transform: rotate(360deg); */
}

@keyframes pulse-yellow {
    from {
        box-shadow: 80px 80px 80px yellow;
    }

  
    to {
        box-shadow: 7px 7px 10px yellow;
    }
  }

.grey {
    background-color: grey;
    animation-duration: 8s;
    animation-name: pulse-grey;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    box-shadow: 16px 16px 10px grey;
    
    /* transform-origin: top; */
    /* transform: rotate(360deg); */
     /* skew(-5deg); */
}

@keyframes pulse-grey {
    from {
        box-shadow: 80px 80px 80px grey;
    }

  
    to {
        box-shadow: 7px 7px 10px grey;
    }
  }

.hide {
    display: none;
}

.show {
    display: block;
}

.no-opacity {
    opacity: 0;
}

.full-opacity {
    opacity: 1;
}


/* 'cheat' button */
#cheat {
    background-color: black;
    color: white;
    border: 2px solid white;
    width: 150px;
    height: 35px;
}


/* End game screen button */
#newgame {
    background-color: black;
    color: white;
    border: 2px solid white;
    width: 150px;
    height: 35px;
}

/* button {
    background-color: black;
    color: white;
    border: 2px solid white;
    width: 150px;
    height: 35px;
} */



.test {
    font-size: 30pt;
    padding: 30px;
    transform: rotate(360deg) skew(8deg);
}

#endgame {
    display: none;
    line-height: 180px;
    text-align: center;
    width: 60%;
    height: 50%;
    overflow: none;
    background-color: black;
    color:white;

    position: absolute;
    z-index: 1;
    top: 150px;
    opacity: 85%;
    left: 320px;
    right: 99px;
    bottom: 111px;
}





/* .unused-letters {
    height: 20px;
    width: 20px;
    border: 1px dotted white;
    background-color: black;
    color: white;
    display: flex;
  } */

  #green {
      color: green
  }

  #yellow {
      color: yellow
  }

  #grey {
      color: grey
  }